

    .hero__container{
        background-color: #E7816B;
        width: 100%;
        height: 640px;
        max-width: 1111px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 160px;

        .hero__top{
        padding: 145px 95px;

    }
    .hero__head{
        margin: 0;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color:#fff;
        max-width: 540px;
        margin-bottom: 30px;
    }
    .hero__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        width: 445px;
        margin-bottom: 40px;
    }

    .hero__img{
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    .hero__pic{
        position: absolute;
        bottom: 0%;
        right: 8%;
        width: 284px;
        height: 500px;
    }
    }


    // RESPONSIVE
@media only screen and (max-width:950px){
    .hero__container{
        background-color: #E7816B;
        width: 100%;
        height: 640px;
        max-width: 1111px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 160px;
        .hero__top{
            padding: 145px 95px;
            h1 {
                margin: 0;
                font-weight: 500;
                font-size: 48px;
                line-height: 48px;
                color:green;
                max-width: 540px;
                margin-bottom: 30px;
            }
    }


    .hero__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        width: 400px;
        margin-bottom: 30px;
    }

    .hero__img{
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    .hero__pic{
        position: absolute;
        bottom: 0%;
        right: 8%;
        width: 284px;
        height: 500px;
    }

}
}