.main {

    flex-grow: 1;

}
.design__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
}
.design__left{
    position: relative;

  .design__left-img{
    max-width: 541px;
    max-height: 640px;
    }
    .design__left-img:hover{
        opacity: 0.5;
       color: yellowgreen;
       z-index: 1;
    }

.design__left-head{
    position: absolute;
    bottom: 50%;
    left: 25%;
    margin: 0;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.design__left-desc{
    position: absolute;
    bottom: 40%;
    left: 33%;
    margin: 0;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
}

.design__left1{
    position: relative;
    margin-bottom: 24px;

    .design__left1-img{
        max-width: 541px;
        max-height: 308px;
    }
    .design__left1-img:hover{
        opacity: 0.5;
    }


    .design__left-head1{
        position: absolute;
        bottom: 50%;
        left: 25%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #FFFFFF;
    }
    .design__left-desc1{
        position: absolute;
        bottom: 40%;
        left: 32%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

}

.design__left2{
    position: relative;

    .design__left2-img{
        max-width: 541px;
        max-height: 308px;
    }
    .design__left2-img:hover{
        opacity: 0.5;
    }
    .design__left-head2{
        position: absolute;
        bottom: 50%;
        left: 17%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #FFFFFF;
    }
    .design__left-desc2{
        position: absolute;
        bottom: 40%;
        left: 35%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
// TITLE

.title__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 106px;
    .title__item{
        max-width: 350px;
        height: auto;

    .title__img{
        width: 202px;
        height: 202px;
        padding-left: 20%;
        margin-bottom: 48px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 5px;
        color: #333136;
        margin-bottom: 32px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333136;
    }
}
}



// PROJECT
    .project{

        .project__container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #E7816B;
            border-radius: 15px;
            width: 100%;
            max-width: 1111px;
        }
        .project__top{
            padding: 76px 0  76px 95px;
        }
        .project__heading{
            margin: 0;
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            color: #FFFFFF;
            max-width: 298px;
            margin-bottom: 24px;

        }
        .project__desc{
            margin: 0;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
            max-width: 460px;
        }
    }







// DESIGN
@media only screen and (max-width:1120px){

    .design__container{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .design__left-img{
        width: 500px;
        height: 600px;
        }
    .design__left1-img{
        width: 500px;
        height: 289px;
    }
    .design__left2-img{
        width: 500px;
        height: 288px;
    }
}
@media only screen and (max-width:1040px){
    .design__container{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .design__left-img{
        width: 450px;
        height: 550px;
        }
    .design__left1-img{
        width: 450px;
        height: 262px;
    }
    .design__left2-img{
        width: 450px;
        height: 262px;
    }
}
@media only screen and (max-width:940px){
    .design__container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .design__left1{
            position: relative;
            margin-bottom: 20px;
        }
    }
    .design__left-img{
        width: 400px;
        height: 500px;
        }
    .design__left1-img{
        width: 400px;
        height: 240px;
    }
    .design__left2-img{
        width: 400px;
        height: 240px;
    }
}
@media only screen and (max-width:840px){
    .design__container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .design__left1{
            position: relative;
            margin-bottom: 16px;
        }
    }
    .design__left-img{
        width: 350px;
        height: 450px;
        }
    .design__left1-img{
        width: 350px;
        height: 217px;
    }
    .design__left2-img{
        width: 350px;
        height: 217px;
    }
}
@media only screen and (max-width:740px){
    .design__container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .design__left1{
            position: relative;
            margin-bottom: 12px;
        }
    }
    .design__left-img{
        width: 325px;
        height: 420px;
        }
    .design__left1-img{
        width: 325px;
        height: 204px;
    }
    .design__left2-img{
        width: 325px;
        height: 204px;
    }
}
@media only screen and (max-width:690px){
    .design__container{
        display: flex;
       flex-direction: column;

        .design__left1{
            position: relative;
            margin: 24px 0;
        }
    }
    .design__left-img{
        object-fit: cover;
        width: 690px;
        height: 200px;
        }
    .design__left1-img{
        object-fit: cover;
        width: 690px;
        height: 200px;
    }
    .design__left2-img{
        object-fit: cover;
        width: 690px;
        height: 200px;
    }
}
@media only screen and (max-width:590px){
    .design__container{
        display: flex;
       flex-direction: column;

        .design__left1{
            position: relative;
            margin: 24px 0;
        }
    }
    .design__left-img{
        object-fit: cover;
        width: 500px;
        height: 200px;
        }
    .design__left1-img{
        object-fit: cover;
        width: 500px;
        height: 200px;
    }
    .design__left2-img{
        object-fit: cover;
        width: 500px;
        height: 200px;
    }
}
@media only screen and (max-width:550px){
    .design__container{
        display: flex;
       flex-direction: column;

        .design__left1{
            position: relative;
            margin: 22px 0;
        }
    }
    .design__left-img{
        object-fit: cover;
        width: 450px;
        height: 190px;
        }
    .design__left1-img{
        object-fit: cover;
        width: 450px;
        height: 190px;
    }
    .design__left2-img{
        object-fit: cover;
        width: 450px;
        height: 190px;
    }
}
@media only screen and (max-width:500px){
    .design__container{
        display: flex;
       flex-direction: column;

        .design__left1{
            position: relative;
            margin: 22px 0;
        }
    }
    .design__left-img{
        object-fit: cover;
        width: 400px;
        height: 180px;
        }
    .design__left1-img{
        object-fit: cover;
        width: 400px;
        height: 180px;
    }
    .design__left2-img{
        object-fit: cover;
        width: 400px;
        height: 180px;
    }
    .design__left2{
        position: relative;

    .design__left-head2{
        position: absolute;
        bottom: 50%;
        left: 12%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 1.5px;
        color: #FFFFFF;
    }
    .design__left-desc2{
        position: absolute;
        bottom: 40%;
        left: 35%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
}
@media only screen and (max-width:450px){
    .design__container{
        display: flex;
       flex-direction: column;

        .design__left1{
            position: relative;
            margin: 21px 0;
        }
    }
    .design__left-img{
        object-fit: cover;
        width: 350px;
        height: 170px;
        }
    .design__left1-img{
        object-fit: cover;
        width: 350px;
        height: 170px;
    }
    .design__left2-img{
        object-fit: cover;
        width: 350px;
        height: 170px;
    }
    .design__left{
        position: relative;



    .design__left-head{
        position: absolute;
        bottom: 50%;
        left: 16%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1.5px;
        color: #FFFFFF;
    }
    .design__left-desc{
        position: absolute;
        bottom: 40%;
        left: 26%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    }

    .design__left1{
        position: relative;
        margin-bottom: 24px;


        .design__left-head1{
            position: absolute;
            bottom: 50%;
            left: 14%;
            margin: 0;
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 2px;
            color: #FFFFFF;
        }
        .design__left-desc1{
            position: absolute;
            bottom: 40%;
            left: 26%;
            margin: 0;
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

    }

    .design__left2{
        position: relative;


        .design__left-head2{
            position: absolute;
            bottom: 50%;
            left: 8%;
            margin: 0;
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 1.5px;
            color: #FFFFFF;
        }
        .design__left-desc2{
            position: absolute;
            bottom: 40%;
            left: 26%;
            margin: 0;
            font-family: Jost;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}
@media only screen and (max-width:375px){
    .design__container{
        display: flex;
       flex-direction: column;

        .design__left1{
            position: relative;
            margin: 18px 0;
        }
    }
    .design__left-img{
        object-fit: cover;
        width: 300px;
        height: 130px;
        }
    .design__left1-img{
        object-fit: cover;
        width: 300px;
        height: 130px;
    }
    .design__left2-img{
        object-fit: cover;
        width: 300px;
        height: 130px;
    }
}
.design__left{
    position: relative;



.design__left-head{
    position: absolute;
    bottom: 50%;
    left: 12%;
    margin: 0;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}
.design__left-desc{
    position: absolute;
    bottom: 40%;
    left: 22%;
    margin: 0;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
}

.design__left1{
    position: relative;
    margin-bottom: 24px;


    .design__left-head1{
        position: absolute;
        bottom: 50%;
        left: 8%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #FFFFFF;
    }
    .design__left-desc1{
        position: absolute;
        bottom: 40%;
        left: 20%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

}

.design__left2{
    position: relative;


    .design__left-head2{
        position: absolute;
        bottom: 50%;
        left: 5%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
    .design__left-desc2{
        position: absolute;
        bottom: 40%;
        left: 20%;
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
@media only screen and (max-width:1000px){

.title__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 106px;
    .title__item{
        max-width: 280px;
        height: auto;

    .title__img{
        width: 190px;
        height: 190px;
        padding-left: 20%;
        margin-bottom: 48px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 4px;
        color: #333136;
        margin-bottom: 32px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #333136;
    }
}
}
}
@media only screen and (max-width:900px){

.title__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 160px;
    .title__item{
        max-width: 250px;
        height: auto;

    .title__img{
        width: 180px;
        height: 180px;
        padding-left: 20%;
        margin-bottom: 42px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 3px;
        color: #333136;
        margin-bottom: 28px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        color: #333136;
    }
}
}
}
@media only screen and (max-width:780px){

.title__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 160px;
    .title__item{
        max-width: 210px;
        height: auto;

    .title__img{
        width: 170px;
        height: 170px;
        padding-left: 20%;
        margin-bottom: 36px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 3px;
        color: #333136;
        margin-bottom: 28px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        color: #333136;
    }
}
}
}
@media only screen and (max-width:690px){

.title__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
    margin-left: -420px;
    .title__item{
        display: flex;
        align-items: center;
        justify-content: space-between;


    .title__img{
        width: 170px;
        height: 170px;
        margin-right: 48px;
        margin-bottom: 32px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 3px;
        color: #333136;
        text-align: left;
        margin-bottom: 16px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        color: #333136;
        width: 330px;
        text-align: left;
    }
}
}
}
@media only screen and (max-width:600px){

.title__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -400px;
    .title__item{
        display: flex;
        align-items: center;
        justify-content: space-between;


    .title__img{
        width: 140px;
        height: 140px;
        margin-right: 48px;
        margin-bottom: 30px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        color: #333136;
        text-align: left;
        margin-bottom: 16px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 20px;
        color: #333136;
        width: 300px;
        text-align: left;
    }
}
}
}
@media only screen and (max-width:560px){

.title__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -360px;
    .title__item{
        display: flex;
        align-items: center;
        justify-content: space-between;


    .title__img{
        width: 120px;
        height: 120px;
        margin-right: 36px;
        margin-bottom: 25px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2px;
        color: #333136;
        text-align: left;
        margin-bottom: 10px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 15px;
        color: #333136;
        width: 280px;
        text-align: left;
    }
}
}
}
@media only screen and (max-width:500px){

.title__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -280px;
    .title__item{
        display: flex;
        align-items: center;
        justify-content: space-between;


    .title__img{
        width: 100px;
        height: 100px;
        margin-right: 30px;
        margin-bottom: 25px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 1px;
        color: #333136;
        text-align: left;
        margin-bottom: 8px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        color: #333136;
        width: 260px;
        text-align: left;
    }
}
}
}
@media only screen and (max-width:440px){

.title__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -230px;
    .title__item{
        display: flex;
        align-items: center;
        justify-content: space-between;


    .title__img{
        width: 80px;
        height: 80px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 8px;
        line-height: 8px;
        letter-spacing: 1px;
        color: #333136;
        text-align: left;
        margin-bottom: 8px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 6px;
        line-height: 8px;
        color: #333136;
        width: 260px;
        text-align: left;
    }
}
}
}
@media only screen and (max-width:375px){
.title__container{
    width: 100%;
    max-width: 375px;
}

.title__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    .title__item{
        display: flex;
        align-items: center;
       flex-direction: column;
        margin-left: -60px;

    .title__img{
        width: 200px;
        height: 200px;
        margin-right: 25px;
        margin-bottom: 30px;
    }
    .title__head{
        margin: 0;
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 4px;
        color: #333136;
        text-align: center;
        margin-bottom: 12px;
        margin-left: 20px;
    }
    .title__desc{
        margin: 0;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: #333136;
        width: 300px;
        text-align: center;
        margin-bottom: 18px;
        margin-left: 25px;
    }
}
}
}